{% extends 'base.html.twig' %}

{% block body %}
    <div class="alert">
        <p>These user is deleted</p><br>
        <a href="{{ path('users') }}"
           class="list">Back to all users</a><br>
    </div>
{% endblock %}
